
    <h1>Soccer lives at GOAAAL!</h1>

    <p>For all your soccer kit needs!</p>

<% if (products.length > 0) {%>
      	<% products.forEach((product, index) => { %>
<product>
	<table>
                        <tr>
                            <td><%= product.prod_name %></td>
                            <td><%= product.prod_desc %></td>
                        </tr>
                        <tr>
                            <td><%= product.prod_price %></td>
                            <td><%= product.prod_loc %></td>
                        </tr>
<tr>
    <td><%= product.inv_count %></td>
    <td><b>Add To Cart</b></td>
                     </tr>
		</table>
            </product>
                    <% }); %>
        <% } else { %>
            <p>No Products</p>
        <% } %>


