<table>
        <tr>
			<td><%= product.product_name %></td>
			<td><%= product.product_desc %></td>
		</tr>
        <tr>
			<td><%= product.product_price %></td>
			<td><%= product.inv_count %></td>
		</tr>
		<tr>
			<td><%= product.prod_loc %></td>
			<td><b>Add To Cart</b></td>
        </tr>
</table>
